details{
  width: 50%;
  margin:0 auto;
  background-color:#25282f;
  box-shadow:0.1rem 1rem -0.5rem rgba(0,0,0,0.4);
  border-radius: 5px;
  overflow: hidden;
}
summary{
  padding:1rem;
  display: block;
  background-color:#25282f;
  padding-left: 2.2rem;
  position: relative;
  cursor:pointer;
}
summary::before{
  content:"";
  border-width: 0.4rem;
  border-right:solid;
  border-color:transparent transparent transparent #fff;
  position: absolute;
  top:1.3em;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary::before{
  transform:rotate(90deg);
}
details > ul{
  padding: bottom 1rem;
  margin-bottom:0;
}

#container {
  display: flex;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  justify-content: center;
  margin-top: 100px;
}
.circle {
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 auto;
  width: 15em;
  height: 15em;
  overflow: hidden;
  transform: translateZ(0);
}
.circle h1 {
  color: #bdb9c700;
  font-weight: 900;
  font-size: 1.6em;
  line-height: 8.2em;
  text-align: center;
  text-transform: uppercase;
  font-smoothing: antialiased;
  user-select: none;
  transition: color 0.8s ease-in-out;
}
.circle:before, .circle:after {
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  box-shadow: inset 10.6em 0 0 
    #a8b84833,
    inset 0 10.6em 0 
    #a8b84833,
    inset -10.6em 0 0 
    #a8b84833,
    inset 0 -10.6em 0 
    #a8b84833;
  transition: box-shadow 0.75s;
}
.circle:after {
  transform: rotate(45deg);
}
.circle:hover:before, .circle:hover:after {
  box-shadow: inset 0.86em 0 0 
    #ff000080, 
    inset 0 0.86em 0 
    #fc960080,
    inset -0.86em 0 0 
    #00ff0080,
    inset 0 -0.86em 0 
    #0096ff80;
}
.circle:hover > h1 {
  color: #444444;
}

p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #673de6, #000, #673de6);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
      background-position: -500%;
  }
  100% {
      background-position: 500%;
  }
}

.button15 {
    background-color: #25282f; 
    color: black; 
    border: 0px solid #673de6;
  }
  
  .button15:hover {
    background-color: #673de6;
    color: white;
  }

  .body{
    height: 100%;
    background-image: url("logo2.jpg");
  }
  
  .bg {
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  
  
  .button {
    float: right; 
    background-color: #25282f;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #673de6; 
    color: black; 
    border: 0 px solid #25282f;
  }
  
  .button1:hover {
    background-color: #25282f;
    color: white;
  }
  
  .button2 {
    background-color: #673de6; 
    color: black; 
    border: 0px solid #25282f;
  }
  
  .button2:hover {
    background-color: #25282f;
    color: white;
  }
  
  .button3 {
    background-color: #673de6; 
    color: black; 
    border: 0px solid #25282f;
  }
  
  .button3:hover {
    background-color: #25282f;
    color: white;
  }
  
  .button4 {
    background-color: #673de6;
    color: black;
    border: 0px solid #25282f;
  }
  
  .button4:hover {
    background-color: #25282f;
    color: white;
  
  }
  
  .button5 {
    background-color: #673de6; 
    color: black; 
    border: 0px solid #25282f;
  }
  
  .button5:hover {
    background-color: #25282f;
    color: white;
  }
  
  .button6 {
    background-color: #673de6; 
    color: black; 
    border: 0px solid #25282f;
  }
  
  .button6:hover {
    background-color: #25282f;
    color: white;
  }
  
  .button7 {
    background-color: #673de6; 
    color: black; 
    border: 0px solid #25282f;
  }
  
  .button7:hover {
    background-color: #25282f;
    color: white;
  }
  
  .button8 {
    background-color: #673de6; 
    color: black; 
    border: 0px solid #25282f;
  }
  
  .button8:hover {
    background-color: #25282f;
    color: white;
  }

  .button9 {
    background-color: #25282f; 
    color: black; 
    border: 0px solid #673de6;
  }
  
  .button9:hover {
    background-color: #673de6;
    color: white;
  }

  .button10 {
    background-color: #673de6; 
    color: black; 
    border: 0px solid #673de6;
  }
  
  .button10:hover {
    background-color: #25282f;
    color: white;
  }

  .button11 {
    background-color:#25282f ; 
    color: black; 
    border: 0px solid #673de6;
  }
  
  .button11:hover {
    background-color: #673de6;
    color: white;
  }
  
  .button12 {
    background-color: #673de6; 
    color: black; 
    border: 0px solid #673de6;
  }
  
  .button12:hover {
    background-color: #25282f;
    color: white;
  }

  .button13 {
    background-color: # 	25282f; 
    color: black; 
    border: px solid #673de6;
  }
  
  .button13:hover {
    background-color: #673de6;
    color: white;
  }

  .button14 {
    background-color: #673de6; 
    color: black; 
    border: 0px solid #673de6;
  }
  
  .button14:hover {
    background-color: #25282f;
    color: white;
  }

 



  <!---sidebar--->
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #25282f;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #25282f;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid 25282f;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #673de6;
  color: #673de6;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}



.text-content{
  background-image: url(trees.jpg);
  background-position: 20% 20%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 339px;
  font-size: poppins;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
}

.text-content1{
  background-image: url(trees.jpg);
  background-position: 20% 20%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 339px;
  font-size: poppins;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
}

